---
import "../../styles/global.css";
import GraphicSpecies from "../../components/GraphicSpecies.astro";
---

<style is:global>
  html, body { margin: 0; }
</style>

<div class="p-4">
  <h1 class="mb-4 text-2xl font-bold tracking-tight">Adelie</h1>
  <GraphicSpecies species="Adelie" />
  
</div>

